{% extends "../layout.html" %}
{% block scripts %}
<script>
    var Config = {
        'baseUrl': 'http://backbone.questworld.ru',
        'subscribeHost': 'backbone.questworld.ru',
        'selfUrl': 'http://127.0.0.1:8080'
    }
</script>

<script type="text/template" id="posts">
    <div class="paging"></div>
    <ul class="posts"></ul>
    <div class="paging"></div>
    <form method="post" class="add-post">
        <input type="hidden" name="post_id" />
        <textarea name="post_text" cols="20" rows="7"></textarea><br />
        <input class="button" type="submit" value="Add post">
        <input class="button" type="reset" value="Cancel">
    </form>

</script>

<script type="text/template" id="post-item">
    <div class="post-item-author">
        <%- author_id %>
    </div>
    <div class="post-item__text">
        <%- text %>
    </div>
    <% if (userId == author_id) { %>
    <span class="post-item__remove">&times;</span>
    <% } %>
</script>

<script type="text/template" id="paging">
    <% if (page > 1) { %>
    <button type="button" class="paging-button prev">&larr;</button>
    <% } %>
    <span><%- page %> / <%- pages %></span>
    <% if (page < pages) { %>
    <button type="button" class="paging-button next">&rarr;</button>
    <% } %>
</script>

<script src="{{ static_url('js/zepto.js') }}"></script>
<script src="{{ static_url('js/underscore.js') }}"></script>
<script src="{{ static_url('js/backbone.js') }}"></script>
<script src="{{ static_url('js/auth.js') }}"></script>
<script src="{{ static_url('js/items.js') }}"></script>



<script src="{{ static_url('js/main.js') }}"></script>
{% end %}